html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.main {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.main::-webkit-scrollbar {
  display: none;  /* Chrome, Safari, and Opera */
}

.main_video {
  display: flex;
  flex-direction: column;
}

.slideContainer {
  height: 100vh;
  scroll-snap-align: start;
  position: relative;
}

.arrow {
  margin-top: 10px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.arrow:hover {
  transform: scale(1.1);
}
