@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

.slideContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
    color: white;
    background-color: #2C2C2C;
    font-family: 'Nunito', sans-serif;
    padding: 30px; 
    border-radius: 15px; 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.slide {
    margin-bottom: 20px;
    text-align: center;
}

.title {
    font-size: 36px;
    margin-bottom: 10px;
}

.equation {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 30px;
}

.answers {
    display: flex;
    justify-content: space-between;
    gap: 10px; /* Added gap for better spacing */
    width: 100%;
    margin-bottom: 30px;
}

.optionButton {
    flex: 1;
    padding: 15px;
    font-size: 22px;
    background-color: #5C4B8A;
    color: white;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.optionButton:hover {
    background-color: #4E3D70;
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.optionButton:active {
    transform: scale(0.95);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.feedback {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
}

.correct {
    color: #4CAF50;
}

.incorrect {
    color: #F44336;
}

.solutionButtonContainer {
    margin-bottom: 20px;
}

.solButton {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #5C4B8A;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.solButton:hover {
    background-color: #4E3D70;
    transform: scale(1.05);
}

.solButton:active {
    transform: scale(0.95);
}

.arrow {
    cursor: pointer;
    margin-top: 20px;
}
